@import url(https://fonts.googleapis.com/css?family=Righteous|Raleway:400,600|Parisienne);
html {
    background-color: #000000;
}
header {
    background-image: url("background.jpg");
    background-position: center;
    text-align: center;
}
.overlay {
    opacity: .80;
}
body {
    text-align: center;
}
h1 {
    font-family: "Parisienne", cursive;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}
h2 {
    font-family: "Parisienne", serif;
    font-size: 28px;
    color: #ffffff;
}
ul {
    font-family:"Raleway", sans-serif;
    font-size: 20px;
    color: #ffffff;
}
p {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #ffffff;
}
.profile {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 15px;
}
a {
    color: #ff0080;
    text-decoration: none;
}
a img {
    height: 50px;
    width: 50px;
}
a:hover {
    color: #ffffff;
}
.button {

border-radius: 50%
}

.button:hover {
    box-shadow: -5px 5px 5px #444;
}