@import url(https://fonts.googleapis.com/css?family=Righteous|Raleway:400,600|Parisienne);
html{
    background-color: #000000;
}
.header{
    background-color: #000000;
    margin: auto;
}
h1 {
    font-family: "Parisienne", cursive;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}
h2 {
    font-family: "Parisienne", serif;
    font-size: 28px;
    color: #ffffff;
}
ul {
    font-family:"Raleway", sans-serif;
    font-size: 30px;
    color: #ffffff;
}
p {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: #ffffff;
}
div p {
    font-style: italic;
    font: "Parisienne", cursive;
    color: #ffffff;
}
.profile {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    float: left;
}
div {
    background: url(background.jpg) no-repeat center center fixed; 
  background-size: cover;
}
a {
    color: #ff0080;
}